@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@500;700&display=swap');

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
   }

.navbar-container{   
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-container .nav-tittle {
    display: flex;
    align-items: center;
}

.navbar-container .nav-tittle h1{
    font-family: 'Chewy', cursive;
    font-size: 30px;
    color: #3C2A21;
}

.navbar-container .nav-list ul {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

.navbar-container .nav-list li {
    list-style-type: none;
  }

.navbar-container .nav-list li:hover a {
    background-color: #CFB997;
    color: #3C2A21;
  }

.navbar-container .nav-list li a{
    text-decoration: none;
    color: #3C2A21;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
  }
  

.landing-page {
    margin-inline:auto;
    flex: 1; 
    display: flex;
    align-items: center;
}

.landing-page .left-landingpage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page .left-landingpage p{
    
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #3C2A21;
}

.landing-page .left-landingpage h1{
    font-family: 'Chewy', cursive;
    font-size: 90px;
    color: #3C2A21;
    padding: 0;
    display: flex;
  }

.landing-page .left-landingpage button {
    text-transform: uppercase;
    border: 15px solid transparent;
    border-radius: 99px;
    background-color: #CFB997;
    color: #3C2A21;
  }

.landing-page .right-landingpage {
    padding-left: 170px;
    flex: 1;
    display: flex;
    align-items: center;
  }
   
.landing-page .right-landingpage img {
    margin: auto;
    min-width: 250px;
    width: 350px;
    border-radius: 50%;
}