@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@500;700&display=swap');

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
   }

header.navbar-container{   
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header.navbar-container .nav-tittle {
    display: flex;
    align-items: center;
}

header.navbar-container .nav-tittle h1{
    font-family: 'Chewy', cursive;
    font-size: 30px;
    color: #3C2A21;
}

header.navbar-container .nav-list ul {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  header.navbar-container .nav-list li {
    list-style-type: none;
  }

  header.navbar-container .nav-list li:hover a {
    background-color: #CFB997;
    color: #3C2A21;
  }

  header.navbar-container .nav-list li a{
    text-decoration: none;
    color: #3C2A21;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
  }
  

main {
    margin-inline:auto;
    padding-left: 30px;
    padding-right: 30px;
    flex: 1; 
    display: flex;
    align-items: center;
}

main .content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  main .content .content-description {
    padding-right: 170px;
    flex: 1 1;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #3C2A21;
  }

  main .content .content-description .title {
    padding: 0;
    font-family: 'Chewy', cursive;
    font-size: 90px;
    color: #3C2A21;
  }

  main .content .content-description button {
    text-transform: uppercase;
    border: 15px solid transparent;
    border-radius: 99px;
    background-color: #CFB997;
    color: #3C2A21;
  }

  main .content .content-image {
    padding-left: 170px;
    flex: 1;
    display: flex;
    align-items: center;
  }
   
  main .content .content-image img {
    margin: auto;
    min-width: 250px;
    width: 350px;
    border-radius: 50%;
  }